
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Lato:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab);


#wpadminbar li#wp-admin-bar-lojica-logo {
    display: block;
}


#adminmenu a.lojica-logo div.wp-menu-image img {
    max-width: 55%;
    padding: 8px 0 0;
}

#wpadminbar .lojica-logo a img{

    max-height: inherit;
    transition: all 1s ease-in-out 0s;
    display:block;
    vertical-align:middle;
}
#wpadminbar .lojica-logo a{
    height: auto;
    max-height: 38px;
    padding: 4px 12px !important;
}

#wpadminbar ul li.lojica-logo {
    padding: 0px;
}

.device-widget #wpadminbar ul li.lojica-logo {
    padding: 11px;
}

body.wp-admin, body.wp-admin div#wpwrap {
    background: transparent none repeat scroll 0 0;
}

#wpadminbar #wp-admin-bar-root-default *{
    font-family: "Lato";
    font-size: 1em;
    font-weight: 400;
}

body.wp-admin{
    color: #7a7c82;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
}

body.admin-bar, #wpwrap {
    background: inherit;
}

body.wp-admin h1,
body.wp-admin h2,
body.wp-admin h3,
body.wp-admin h4,
body.wp-admin h5,
body.wp-admin h6 {
    font-family: "Roboto Slab";
    font-weight: 400;
    line-height: 1;
}

body.login{
    background-color:#fff;
}


#loginform, .login #login_error, .login .message {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #dadadc;
    box-shadow: none;
    margin: 0 auto;
    max-width: 370px !important;
    padding: 30px;
}

.login #login_error a, .login label, .login #backtoblog a, .login #nav a{
    color: #7a7c82;
    font-family: "Lato";
    font-size: 13px;
    line-height: 23px;
    padding: 0;
}

body.login #login {
    max-width: 350px;
    width: inherit;
}

.login .wp-core-ui .button-group.button-large .button,
.login .wp-core-ui .button.button-large {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:15px;
    width: 100%;
    padding:0;
    text-shadow:none;
    border-color: transparent;
    box-shadow: none;
    height: inherit;
    border-color: transparent;
    box-shadow: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f06422 0%, #ef7d47 59%, #ef9d77 100%) repeat scroll 0 0;
}
.login .wp-core-ui .button-group.button-large .button:hover,
.login .wp-core-ui .button.button-large:hover{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ef9d77 0%, #ef7d47 59%, #f06422 100%) repeat scroll 0 0;
}

.login form .input, .login input[type="text"]{
    background: none;
    box-shadow: none;
}


.login #nav a:hover, .login #backtoblog a:hover{
    color:black;
}

.login h1 a{
    min-height: 110px;
}

